.show-main {
  background: rgb(213, 252, 154);
   height: 100vh;
   background-image: url('../../assets/images/tree.png');
   background-repeat: no-repeat;
   background-size: auto;
}

.show-title {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

.show-body {
  display: flex;
 justify-content: space-around;
}

.node-form {
  background: rgba(15, 162, 225, .6);
  border: 1px solid lightblue;
  border-radius: 4px;
  box-shadow: 5px 5px 5px green;
  text-align: center;
  padding: 10px;
  height: 20%;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
}

.node-form-input {
  background: rgb(213, 252, 154);
  font-size: 18px;
}

.node-form-submit {
  background: rgb(213, 252, 154);
  border-radius: 4px;
  width: 30%;
  font-size: 15px;
  border: 1px solid darkgreen;
  cursor: pointer;
    &:hover {
      filter: brightness(85%);
    }
}

.tree {
  width: 66%;
  border: 1px solid red;
}