.show-main {
  background: rgb(213, 252, 154);
   height: 100vh;
   background-image: url('../../assets/images/tree.png');
   background-repeat: no-repeat;
   background-size: auto;
}

.show-title {
  text-align: center;
}

.show-body {
  display: flex;
}