@media screen and (max-width:400px) {
    .session-signup-form{
        background: rgb(213, 252, 154);
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .login-form{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            // height: 320px;
            width: 250px;
            border-radius: 3%;
            background: rgb(155, 224, 254);
            padding:20px;

            .input-field {
                width: 150px;
                height: 20px;
                border-radius: 3%;
                border: 0px;
                padding: 5px;
            }

            .submit-button{
                width: 100px;
                cursor:pointer;
                background: white;  
                margin: 0;
                border:0;
                border-radius: 3%;
            }

        }
    }
}
@media screen and (max-width:1000px){
    .session-signup-form{
            background: rgb(213, 252, 154);
            width: 100%;
            height: 750px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .login-form{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                // height: 320px;
                width: 250px;
                border-radius: 3%;
                background: rgb(155, 224, 254);
                padding: 20px;
                .input-field {
                    width: 150px;
                    height: 20px;
                    border-radius: 3%;
                    border: 0px;
                    padding: 5px;
                }

                .submit-button{
                    width: 100px;
                    cursor:pointer;
                    background: white;  
                    margin: 0;
                    border:0;
                    border-radius: 3%;
                }
            }
    }
}

.errors-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}